[Unit]
Description=iRODS FS mount management daemon
Wants=network-online.target
After=network-online.target nss-lookup.target

[Service]
Type=forking
User=irodsfsd
Group=irodsfsd

RuntimeDirectory=irodsfsd
RuntimeDirectoryMode=0750
LogsDirectory=irodsfsd
LogsDirectoryMode=0750

PIDFile=/run/irodsfsd/irodsfsd.pid
ExecStart=/usr/bin/irodsfsd start -c /etc/irodsfsd/config.yaml
ExecStop=/usr/bin/irodsfsd stop -c /etc/irodsfsd/config.yaml --wait 20s

Restart=on-failure
RestartSec=5s
TimeoutStartSec=30s
TimeoutStopSec=30s
KillMode=mixed
UMask=0027
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
